@charset "UTF-8";

.reg-text {
  color: white;
  padding: 0.4rem !important;
  font-size: 0.7rem !important;
  width:100%;
  margin: 0rem;
}

.special-text {
  color: white;
  padding: 0.7rem !important;
}

.special-text-bar {
  color: black;
  padding: 0rem !important;
  font-size: 0.6rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* general tags */
h1 {
  font-family: "Roboto";
  line-height: 2.5rem;
  font-size: 1.5rem;
  padding-left: 1vw;
  padding-top: 0.5vh;
  padding-right: 0.1vw;
  padding-bottom: 0.8vh;
  margin: 0rem;
  text-align: left;
  color: black;
  background-image: linear-gradient(rgb(0, 255, 255), rgba(0, 192, 192, 0.4));
}

h2 {
  color: white;
  background-color: rgb(0, 64, 64);
  font-family: "Roboto";
  font-weight: 100;
  line-height: 1.9rem;
  font-size: 1.2rem;
  padding-left: 0.6rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: 0.6rem;
  text-align: left;
  margin: 0rem;
  border-radius: 0px;
  border-top-left-radius: 7px;
}

h3 {
  background-image: linear-gradient(rgb(0, 96, 96), rgba(255, 255, 255, 0.3));
  font-family: "Roboto";
  line-height: 1rem;
  /* padding: 8px; */
  font-size: 1rem;
  padding-left: 1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.8vh;
  padding-right: 0.1vw;
  text-align: left;
  margin: 0rem;
}

h4 {
  font-family: "OpenSans";
  padding: 8px;
  font-size: 0.657rem;
  line-height: 0.657rem;;
  font-weight: 100;
  padding-bottom: 0.35rem;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  /*background-image: linear-gradient(rgba(255, 255, 255,0.35), rgba(255, 255, 255, 0.00));*/
  word-break: normal;
  margin: 0rem;
  color: black;
  justify-self: center !important;
}

h4special {
  font-family: "OpenSans";
  padding: 0.2rem;
  font-size: 0.657rem;
  line-height: 1rem;;
  font-weight: 100;
  padding-bottom: 0.35rem;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  width: 100%;
  /*background-image: linear-gradient(rgba(255, 255, 255,0.35), rgba(255, 255, 255, 0.00));*/
  word-break:normal;
  margin: 0rem;
  color: black;
  justify-self: center !important;
  display: inline;
  align-self: center !important;
}


h5 {
  font-family: "Roboto";
  padding: 0.4rem;
  font-size: 1rem;
  margin: 0px;
  border-radius: 0px;
  background-image: linear-gradient(rgba(255, 255, 255,95), rgba(255, 255, 255, 0.65));
}

.p, .flex-item-articles-specials, .reg-text, .special-text, p {
  font-size: 0.8rem;
  text-align: left;
  padding: 0.3rem;
  margin: 0rem;
  font-family: "Roboto";
}

* {
  margin: 0.1rem;
  transition-duration: 0.3s;
  transition: all;
}

body {
  margin-top:3rem;
  margin-bottom:2.5rem;
  font-family: OpenSans;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 1);
}

/* set general list format */
li {
  display: inline-block;
  width: 145px;
}

/* how to handle links and anchors in general */
a {
  color: black;
}
a:link {
  color: black;
  text-decoration: none;
}

/*a​:active, a​:visited {
  color: black;
  text-decoration: none;
}
a​:hover {
  color: black;
  text-decoration: underline;
}*/

.nobackground {
  background-color: rgba(255, 255, 255, 0.4);
  background-image: none;
}

/* font data */
@font-face {
  font-family: "OpenSans";
  src: url(../assets/fonts/OpenSans-VariableFont_wdth.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: "VAGRounded";
  src: url(../assets/fonts/Vag_Rounded_BT_0.ttf);
}
/* general article boxes defintion */
.flex-container-articles, .flex-container-articles-half-width {
  display: flex;
  height: auto;
  width: 100%;
  align-self: flex-start;
  /*line-height: auto;*/
  font-size: 0.8rem;
  flex-direction: column;
  margin: left 0rem;
  flex-flow: wrap;
  justify-content: center;
  justify-content:center;
  vertical-align: top;
  padding: 0.1rem;
}

.flex-item-articles, .flex-item-articles-summary {
  align-items: center;
  display: flexbox;
  background-color: rgba(15, 15, 15, 0.95);
  width: 30%;
  height:auto;
  border-radius: 4px;
  word-wrap: normal;
  padding: 0.3rem;
  flex-direction: row;
  border: solid;
  border-width: 1px;
  border-color: rgb(64,64,64);
  justify-items: center;
  justify-content: stretch !important;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.flex-item-articles-summary {
  background-color: rgba(0, 32, 32, 1);
}

/*  added for details */
.flex-item-articles-half-width {
  align-items: center;
  display: flexbox;
  background-color: rgba(15, 15, 15, 0.95);
  width: 25vw;
  border-radius: 4px;
  word-wrap: normal;
  padding: 0.3rem;
  flex-direction: row;
  border: solid;
  border-width: 1px;
border-color: rgb(64,64,64);
  border-color: rgba(128, 128, 128, 0.999);
  justify-items: center;
  justify-content: stretch !important;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  width: 95vw !important;
}

.flex-item-articles-summary img {
  display: block;
  height: auto;
  width: 34px;
  border-radius: 5px;
  /*border-style:solid;
  border-width: 1px;
  border-color: rgb(25,25,25);*/
  transition: all 0.5s;
}

.flex-item-articles img {
  display: block;
  height: auto;
  width: 34px;
  border-radius: 5px;
  /*border-style:solid;
  border-width: 1px;
  border-color: rgb(25,25,25);*/
  transition: all 0.5s;
}
.flex-item-articles img:hover, .flex-item-articles-half-width img:hover {
  transition-delay: 1s;
  transform: scale(115%);
}

.flex-item-articles-badges, .flex-item-articles-badges-buttonboard, .flex-item-articles-badges-buttonboard-horizontal {
  display: flex;
  width: 34px;
  flex-direction: column;
  align-items: center !important;
  align-content: flex-end;
  height: 100%;
}
.flex-item-articles-badges-buttonboard {
  display: flex;
  flex-wrap:wrap;
  overflow-wrap:normal;
  padding: 0rem;
}

.flex-item-articles-badges-buttonboard-horizontal {
  display: flex;
  width: 100%;
  height: min-content !important;
  flex-wrap:wrap;
  flex-direction: row;
  overflow-wrap:normal;
  padding: 0rem;
  align-content: flex-start;
  /*position: fixed;
  top: 4rem;
  right: 0rem;*/
}

.flex-item-articles-half-width img {
  width: 100%;
  display: block;
}

/* gallery image size, determines the number of columns in wide mode */
.flex-item-articles-no-resize {
  display: block;
  background-color: rgba(219, 231, 236, 0.5);
  flex-direction: row;
  height: auto;
  border-radius: 7px;
  word-wrap: normal;
  align-self: center;
  font-size: 0.8rem;
  padding: 0.8rem;
}

.flex-item-articles, .flex-item-articles-half-width, .flex-item-articles-summary {
  transition: all, 150ms;
}
.flex-item-articles ul, .flex-item-articles-half-width ul {
  margin: 0.2rem;
  display: inline;
  font-size: 0.8rem;
  text-align: left;
  line-height: 16px;
  padding: 16px;
}

.flex-item-articles p, .flex-item-articles-half-width p {
  line-height: 1rem;
  margin: 0rem;
  padding: 0.8rem;
  font-family: "Roboto";
  font-size: 0.8rem;
}

/* floating bl.gauge box - the floater */
.flex-container-floater-top {
  display: flex;
  height: 2.7rem;
  width: 100%;
  align-self: flex-start;
  align-content: center;
  margin: 0px;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(64,64,64);
  flex-direction:row-reverse;
  overflow-wrap: normal;
  justify-content:flex-end !important;
  padding: 0.1rem;
  position: fixed;
  left: 0vw;
  top: 0vh;
  background-color: rgba(0, 32, 32, 1);
}

.flex-item-floater-ttf-logo {
  display: block;
  font-family: "Roboto";
  font-size: 1.3rem;
  color: white;
  margin:0.5rem;
  margin-left: 0rem;
  padding: 0px;
  padding-left: 0.4rem;
  padding-right: 1rem;
}

.flex-container-floater {
  display:flex;
  grid-auto-flow: row;
  height: max-content;
  width: 100%;
  align-self: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(64,64,64);
  margin: 0px;
  border-radius: 0px;
  flex-direction: row;
  justify-content:space-between !important;
  padding: 0.3rem;
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: rgba(32, 32, 32, 0.8);
  overflow-wrap: break-word;
  flex-wrap:wrap;
}

.flex-container-floater-bottom {
  display:flex;
  grid-auto-flow: row;
  height: max-content;
  width: 100%;
  align-self: center;
  align-content: center;
  margin: 0px;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(64,64,64);
  flex-direction: row;
  justify-content: flex-start !important;
  padding: 0.20rem;
  padding-right: 2rem;
  position: fixed;
  left: 0rem;
  bottom: 0rem;
  background-color: rgba(32, 32, 32, 0.8);  
  overflow-wrap: break-word;
}

.flex-container-msgbox {
  display:flex;
  grid-auto-flow: row;
  height:max-content;
  align-self: center;
  justify-self: center;
  align-content: center;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center !important;
  padding: 1rem;
  position: fixed;
  margin: 0rem;
  width: 32vw;
  background-color: rgba(0, 50, 50, 0.90);
  
  overflow-wrap: break-word;
  visibility: hidden;
}

.flex-container-msgbox {
  display:flex;
  grid-auto-flow: row;
  height:max-content;
  align-self: center;
  justify-self: center;
  align-content: center;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center !important;
  padding: 1rem;
  position: fixed;
  margin: 0rem;
  width: max-content;
  height: max-content;
  background-color: rgba(0, 50, 50, 0.90);
  overflow-wrap: break-word;
  visibility: hidden;
}

.flex-container-splash {
  display:flex;
  grid-auto-flow: row;
  align-self: center;
  justify-self: center;
  align-content: center;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center !important;
  padding: 0.5rem;
  position: fixed;
  margin: 0rem;
  width: 75vw;
  background-color: rgba(0, 50, 50, 0.90);
  overflow-wrap: break-word;
  visibility: hidden;
  font-family: "OpenSans";
}

.flex-item-splash {
  display:inline;
  grid-auto-flow: row;
  align-self: center;
  align-content: center;
  margin: 0rem;
  width: 90%;
  border-radius: 0px;
  flex-direction: row;
  justify-content: center !important;
  padding: 3rem;
  
  overflow-wrap: break-word;
  position: relative;
}

.flex-item-msgbox {
  display:inline;
  grid-auto-flow: row;
  align-self: center;
  align-content: center;
  margin: 0px;
  width: 32vw;
  border-radius: 0px;
  flex-direction: row;
  justify-content: center !important;
  padding: 0.20rem;
  overflow-wrap: break-word;
  position: relative;
}

.flex-container-cartbox {
  display:flex;
  /*grid-auto-flow: row;*/
  align-self: flex-start;
  align-items:flex-start;
  border-radius: 4px;
  flex-flow: row;
  flex-wrap: wrap;
  overflow-wrap: normal;
  padding: .71rem;
  margin: 3.5vw;
  
  width: 90vw;
  background-color: rgba(0, 48, 48, 0.99);
  visibility: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content:center;
}

.flex-item-cartbox {
  display: flex;
  align-self: center;
  align-content: center;
  width: 100%;
  height: min-content;
  border-radius: 0px;
  flex-direction: row;
  overflow-wrap:normal;
  flex-wrap:wrap;
}

.flex-item-cartbox-inner {
  display: block;
  align-self: center;
  align-content: center;
  margin: 0.2rem;
  border-radius: 0px;
  flex-direction: row;
  overflow-wrap: normal;
  background-color: rgba(15, 15, 15, 0.9);
  border-radius: 5px;
  padding: 0.2rem;
  width:25vw;
  
}


.flex-item-cartbox-inner img {
  width: 24px;
  height: 24px;
  border-radius: 7px;
  justify-self: center;
  margin: 0rem;
}

.flex-no-button-alert  {
  display: inline-block;
  height: 0.9rem;
  align-content: center;
  margin: 0.3rem;
  border-radius: 5px;
  flex-direction: row;
  font-size: 0.7rem;
  justify-content: center !important;
  font-family: "Roboto";
  padding: 0.35rem;
  padding-left: 0.70rem;
  padding-right: 0.70rem;
  position: relative;
  background-color: rgba(255, 91, 92, 0.999);
  border-width: 1px;
  border-color: rgba(64,64,64);
  border-style: 1px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-width: 40px;
}

.flex-no-button-alert:hover {
  color:white;
  transition:all;
  transition-delay: 0.0s;
  transition-duration: 200ms;
  transform: scale(105%);
}

.flex-no-button-warning {
  display: inline-block;
  height: 0.9rem;
  /*width:fit-content, -moz-fit-content;*/
  /*align-self: flex-start;*/
  align-content: center;
  margin: 0.3rem;
  border-radius: 5px;
  flex-direction: row;
  font-size: 0.7rem;
  justify-content: center !important;
  font-family: "Roboto";
  padding: .35rem;
  padding-left: .70rem;
  padding-right: .70rem;
  position:relative;
  background-color: rgba(195, 172, 0, 0.999);
  border-width: 1px;
  border-color: rgba(64,64,64);
  border-style: 1px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-width: 40px;
}

.flex-no-button-warning:hover{
  color:white;
  transition:all;
  transition-delay: 0.0s;
  transition-duration: 200ms;
  transform: scale(107%);
}

.flex-no-button-ok {
  display: inline-block;
  height: 0.9rem;
  /*width:fit-content, -moz-fit-content;*/
  /*align-self: flex-start;*/
  align-content: center;
  margin: 0.3rem;
  border-radius: 5px;
  flex-direction: row;
  font-size: 0.7rem;
  justify-content: center !important;
  font-family: "Roboto";
  padding: .35rem;
  padding-left: .70rem;
  padding-right: .70rem;
  position:relative;
  background-color: rgba(0, 160, 80, 0.999);
  border-width: 1px;
  border-color: rgba(64,64,64);
  border-style: 1px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-width: 40px;
  border-width: 1px;
  border-color: rgba(64,64,64);
  border-style: 1px;
}

.flex-no-button-ok:hover{
  color:white;
  transition:all;
  transition-delay: 0.0s;
  transition-duration: 200ms;
  transform: scale(105%);
}

.flex-button {
  display: inline-block;
  height: 0.9rem;
  /*width:fit-content, -moz-fit-content;*/
  /*align-self: flex-start;*/
  align-content: center;
  margin: 0.3rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(64,64,64);
  flex-direction: row;
  font-size: 0.7rem;
  justify-content: center !important;
  font-family: "Roboto";
  padding: .35rem;
  padding-left: .70rem;
  padding-right: .70rem;
  position:relative;
  background-color: rgba(0, 32, 32, 0.999);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-width: 40px;
}

.flex-button:hover {
  background-color: rgba(0, 56, 56, 0.95);
  color:white;
  transition:all;
  transition-delay: 0.0s;
  transition-duration: 200ms;
  transform: scale(107%);
}

.flex-not-button {
    display: inline-block;
    height: 0.9rem;
    /*width:fit-content, -moz-fit-content;*/
    /*align-self: flex-start;*/
    align-content: center;
    margin: 0.3rem;
    border-radius: 5px;
    flex-direction: row;
    font-size: 0.7rem;
    justify-content: center !important;
    font-family: "Roboto";
    padding: .35rem;
    padding-left: .70rem;
    padding-right: .70rem;
    position:relative;
    background-color: rgba(88, 88, 88, 0.999);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-width: 40px;
  }

/* THE INNER GRID */
.flex-item-articles-specials {
  display: flex;
  background-color: rgb(187, 226, 226);
  
  background-size:contain;
  background-repeat: no-repeat;
  padding: 1.5rem;
  flex-direction: row;
}
.flex-item-articles-specials h4 {
  justify-self: center;
}

.flex-item-articles-specials img {
  width: 50vw !important;
}


#image-top-left {
  grid-area: 2/1/6/2;
}

#text-top-right, #text-bottom-right, #image-bottom-left, #image-top-left {
  grid-area: 2/2/6/3;
  margin-top: 0.5rem;
  padding: 1.2rem !important;
  color: white;
  border-radius: 0.6rem;
  border-width: 0rem;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

#image-bottom-left {
  grid-area: 6/1/10/2;
}

#text-bottom-right {
  grid-area: 6/2/10/3;
  justify-self: stretch;
}

.backgroundLock{
  display: flex;
  background-color: rgba(0, 0, 0, 0.80);
  height: 100vh;
  width: 100vw;
  border-radius: 0px;
  word-wrap: normal;
  padding: 0rem;
  flex-direction: column;
  position: fixed;
  top: 0rem;
  left: 0rem;
  justify-items: center;
  justify-content: center;
  margin: 0rem;
  visibility: hidden;
  transition: all, 150ms;
}

@media screen and (max-width: 370px) {
  .flex-item-articles, .flex-item-articles-half-width, .flex-item-articles-summary {
    display: flex;
    width: 95vw !important;
    word-wrap: normal;
    padding: 0.3rem;
    flex-direction: column;
  }

  .flex-item-articles-badges, .flex-item-articles-badges-buttonboard {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center !important;
    align-content: flex-end;
    height: 100%;
  }
  .flex-item-articles-badges-buttonboard {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    overflow-wrap:normal;
    padding: 0rem;
    width: 100%;
  }
  
  .flex-item-articles-half-width img {
    width: 100%;
    display: block;
  }
  body {
    margin-top:8.2rem;
  }
}

@media screen and (min-width: 371px) {
  .flex-item-articles, .flex-item-articles-half-width, .flex-item-articles-summary {
    display: flex;
    width: 85%;
    word-wrap: normal;
    padding: 0.3rem;
    flex-direction: row;
  }

  body {
    margin-top:6.2rem;
  }

}


@media screen and (min-width: 570px) {
  .flex-item-articles, .flex-item-articles-half-width, .flex-item-articles-summary {
    width: 43%;
  }
  body {
    margin-top:3.2rem;
  }

}

@media screen and (min-width: 801px) {
  .flex-item-articles, .flex-item-articles-half-width, .flex-item-articles-summary {
    display: flex;
    width: 40%;
    word-wrap: normal;
    padding: 0.3rem;
    flex-direction: row;
  }

  body {
    margin-top:3rem;
  }
}

@media screen and (min-width: 900px) {
  .flex-item-articles, .flex-item-articles-half-width, .flex-item-articles-summary {
    display: flex;
    width: 30%;
    padding: 0.3rem;
    flex-direction: row;
  }
  body {
    margin-top:3rem;
  }
}

@media screen and (min-width: 1000px) {
  .flex-item-articles, .flex-item-articles-half-width, .flex-item-articles-summary {
    display: flex;
    word-wrap: normal;
    padding: 0.3rem;
    flex-direction: row;
    width: 30%;
  }
  body {
    margin-top:3rem;
  }
}

@media screen and (min-width: 1100px) {
  .flex-item-articles, .flex-item-articles-half-width, .flex-item-articles-summary {
    display: flex;
    word-wrap: normal;
    padding: 0.3rem;
    flex-direction: row;
    width: 30.%;
  }
  body {
    margin-top:3rem;
  }
}

@media screen and (min-width: 1200px) {
  .flex-item-articles, .flex-item-articles-half-width, .flex-item-articles-summary {
    display: flex;
    width: 30%;
    word-wrap: normal;
    padding: 0.3rem;
    flex-direction: row;
  }
  body {
    margin-top:3rem;
  }
}

@media screen and (min-width: 1400px) {
  .flex-item-articles, .flex-item-articles-half-width, .flex-item-articles-summary {
    display: flex;
    width: 22%;
    word-wrap: normal;
    padding: 0.3rem;
    flex-direction: row;
  }
}

@media screen and (min-width: 1600px) {
  .flex-item-articles, .flex-item-articles-half-width, .flex-item-articles-summary {
    display: flex;
    width: 18%;
    word-wrap: normal;
    padding: 0.3rem;
    flex-direction: row;
  }
}

